<div id="infoModal" class="app-modal">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <a href="#" class="close mod-close text-info" onclick="cgapp.closeModal()">&times;</a>
      </div>
      <div id="infoItems" class="card-body">
        <div id="sandwich" class="info-item bg-white p-2 rounded">
          <h5>Sandwich</h5>
          <p>
            <span class="x-block">White or Brown Buns.</span>
            <span class="x-block">Lettuce, tomato, cucumber, mustard and mayonaisse included.</span>
          </p>
          <p>
            <span class="x-block">Choice of toppings (turkey ham, fried egg and cheddar cheese),</span>
            <span class="x-block">up to 3 at $1.00 EC each</span>
          </p>
          <p>
            <span class="d-block">e.g. a sandwich with cheese only costs $5.00 EC</span>
            <span class="d-block">a sandwich with ham and 2 eggs costs $7.00 EC</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>