<section>
  <div class="card shadow">
    <div class="card-header">
      <span class="ic-primary i-book"></span>
      <span class="ch-text text-primary align-bottom ml-4">Our Menu</span>
      </div>
    <div class="card-body bg-primary-light">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabMenuFood">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabMenuDrinks">Drinks</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tabMenuFood" class="tab-pane active">
          <ul class="list-group list-group-flush">
            <li class="list-group-item menu-item">
              <p>Sandwiches</p>
              <small>any combination of toppings (up to 3)</small>
            </li>
            <li class="list-group-item menu-item">
              <p>Beef Soup</p>
              <small>Awesome creamy beef pumpkin soup</small>
            </li>
          </ul>
        </div>
        <div id="tabMenuDrinks" class="tab-pane">
          <ul class="list-group list-group-flush">
            <li class="list-group-item menu-item">
              <p>Water</p>
              <small>bottled water</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>