<nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
  <h2 class="navbar-brand">Cecy's Gap</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mod-open" href="#" data-target="placeorder">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mod-open" href="#" data-target="orders">My Orders</a>
      </li>
      <li>
        <button type="button" class="btn btn-secondary">ENABLE NOTIFICATIONS</button>
      </li>
    </ul>
  </div>  
</nav>