<section>
    <div class="card shadow">
        <div class="card-header">
            <span class="ic-primary i-flame"></span>
            <span class="ch-text text-primary align-bottom ml-4">On The Fire!</span>
        </div>
        <div class="card-body bg-primary-light">
            <h4 class="card-title">Beef Soup</h4>
            <p class="card-text">Awesome creamy beef pumpkin soup</p>
            <a href="#" class="card-link text-info">Tell Me More</a>
        </div>
    </div>
</section>