/* ----- ROOT ----- */
body .wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  margin: 56px auto;
}
/* ----- */

/* ----- HEADER ----- */
header {
  position: relative;
  display: block;
  background: linear-gradient(#000, #00000054), url('https://firebasestorage.googleapis.com/v0/b/cecysgapwebapp.appspot.com/o/IMG-20190410-WA0000.jpg?alt=media&token=a1deb673-c7a3-4520-88b2-fed612ad0236') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  fill: #f8f9fa;
}

.header-content {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-30%, -50%);
}

.header-content p {
  margin-top: 1rem;
}

.header-content #fireName {
  display: block;
}

.header-content #fireDesc {
  display: none;
}

.header-content p span {
  vertical-align: bottom;
}

.i-flame {
  display: inline-block;
  transform: scale(0.7);
}

.header-text {
  text-transform: uppercase;
  font-weight: normal;
}

.arrow-cont {
  display: none;
  position: fixed;
  bottom: -1em;
  opacity: 0.6;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-cont.at-top {
  display: block;
}
/* ----- */

/* ----- SECTION CARDS ----- */
.card {
  margin-bottom: 25px;
  overflow: hidden;
}

.menu-item a {
  display: block;
}

.order-details pre {
  font-family: inherit;
}

.privacy {
  font-size: .83em;  
}

.x-block {
  display: block;
}

.i-star {
  position: relative;
}

.i-star input[type=radio] {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
/* ----- */

/* ----- FLOATING ACTION BUTTON ----- */
.action-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  transition: bottom ease .2s, opacity ease .1s ;
}

.btn.btn-lg.action-button {
  font-weight: bold;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
}

.action-container.at-top {
  bottom: 15%;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.action-container.at-top .btn.action-button {
  padding: 20%;
  border-radius: 50%;
  font-size: 1.6em;
}
/* ----- */

/* ----- MODAL VIEWS ----- */
.app-modal {
  display: none; /* only for initial load */
  z-index: 1001;
  position: fixed;
  height: 100%;
  right: 0;
  left: 0;
  top: 56px;
  padding-bottom: 15%;
  transform: translateY(100vh);
  transition: transform 0.3s linear;
}

.app-modal.opened {
  transform: translateY(0);
}

.app-modal .container, .app-modal .card {
  height: 100%;
}

.app-modal .card-body {
  max-height: 90%;
  overflow: auto;
}
/* ----- */

/* ---- FOOTER ----- */
footer {
  font-size: .73em;
}

.foot-link {
  display: block;
  padding: 0 1em 0.3em 1em;
}
/* ----- */

/* ---- MEDIA QUERIES ----- */
@media (min-width: 576px) {
  .menu-item a {
    float: right;
  }
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.8em;
  }
}

@media (min-width: 768px) {
  .header-content #fireName {
    display: inline;
  }
  .header-content #fireDesc {
    display: inline;
  }
  .i-flame {
    transform: scale(1);
  }
  .x-block {
    display: inline;
  }
  .order-status {
    padding: 0 1em;
  }
}

@media (min-width: 992px) {
  .action-container {
    width: 930px;
    right: inherit;
    left: inherit;
  }
}

@media (min-width: 1200px) {
  .header-text {
    letter-spacing: 2px;
  }
}

@media (min-height: 600px) {
  .app-modal {
    padding: 0;
  }
  .action-container.at-top {
    width: 220px;
  }
  .action-container.at-top .btn.action-button {
    padding: 30%;
  }
}
/* ----- */