
/* ----- VARIABLES ----- */
:root {
  --primary-light: #83da89;
  --primary-xlight: #ebf7ec;
}
/* ----- */

/* ----- SECTIONS CARDS ----- */
.card .card-header {
  background-color: var(--primary-light);
}

.card .card-body {
  background-color: var(--primary-xlight);
}
/* ----- */

/* ----- MODAL VIEWS ----- */
.app-modal {
  background-color: #fff;
}
/* ----- */

/* ----- NAVIGATION ----- */

/* ----- */

/* ----- FLOATING ACTION BUTTON ----- */
/* ----- */